<html>
	<head>
		<title>OAuth Exercise</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
		<header>
			<h1>OAuth Excercise using Passport and EJS</h1>
			<h2>Home</h2>
		</header>
		<main>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</main>
	</body>
</html>